#militarismus {
  border-color: var(--militarismus);
  color: var(--militarismus);
}

#militarismus>*>.home-section-title-line>* {
  background-color: var(--militarismus);
}

.post-text.tagtopic-militarismus {
  border-bottom: 1px solid var(--militarismus);
}

.tagtopic-militarismus > a > .featured-quote{
  background-color: var(--militarismus);
}

.tagtopic-militarismus>a>h1 {
  color: black;
}

.tagtopic-militarismus>a>h1:hover {
  color: var(--militarismus);
}

.tagtopic-militarismus>a>h4>span {
  color: var(--militarismus);
  text-decoration: none;
  border-bottom: 0px;
}

.tagtopic-militarismus>.reminder-button {
  background-color: var(--militarismus);
}

.tagtopic-militarismus> div > .map-eventtype-line{
  background-color: var(--militarismus);
}

#militarismus-menu.currentTopic {
  color: var(--militarismus);
}

#militarismus-menu.currentTopic:visited {
  color: var(--militarismus);
}

#nav.bordercolor-militarismus {
  border-bottom-color: var(--militarismus);
}

@media screen and (max-width: 1250px) {
  #militarismus {
    border-top-color: transparent;
  }
}
