
@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-thin.ttf') format('truetype'), url('woff2/Iosevka-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extendedthin.ttf') format('truetype'), url('woff2/Iosevka-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-thinoblique.ttf') format('truetype'), url('woff2/Iosevka-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf/Iosevka-thinoblique.ttf') format('truetype'), url('woff2/Iosevka-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedthinoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedthinoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-thinitalic.ttf') format('truetype'), url('woff2/Iosevka-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendedthinitalic.ttf') format('truetype'), url('woff2/Iosevka-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-extralight.ttf') format('truetype'), url('woff2/Iosevka-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extendedextralight.ttf') format('truetype'), url('woff2/Iosevka-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-extralightoblique.ttf') format('truetype'), url('woff2/Iosevka-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf/Iosevka-extralightoblique.ttf') format('truetype'), url('woff2/Iosevka-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedextralightoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedextralightoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-extralightitalic.ttf') format('truetype'), url('woff2/Iosevka-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendedextralightitalic.ttf') format('truetype'), url('woff2/Iosevka-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-light.ttf') format('truetype'), url('woff2/Iosevka-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extendedlight.ttf') format('truetype'), url('woff2/Iosevka-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-lightoblique.ttf') format('truetype'), url('woff2/Iosevka-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf/Iosevka-lightoblique.ttf') format('truetype'), url('woff2/Iosevka-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedlightoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedlightoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-lightitalic.ttf') format('truetype'), url('woff2/Iosevka-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendedlightitalic.ttf') format('truetype'), url('woff2/Iosevka-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-regular.ttf') format('truetype'), url('woff2/Iosevka-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extended.ttf') format('truetype'), url('woff2/Iosevka-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-oblique.ttf') format('truetype'), url('woff2/Iosevka-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf/Iosevka-oblique.ttf') format('truetype'), url('woff2/Iosevka-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-italic.ttf') format('truetype'), url('woff2/Iosevka-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendeditalic.ttf') format('truetype'), url('woff2/Iosevka-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-medium.ttf') format('truetype'), url('woff2/Iosevka-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extendedmedium.ttf') format('truetype'), url('woff2/Iosevka-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-mediumoblique.ttf') format('truetype'), url('woff2/Iosevka-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf/Iosevka-mediumoblique.ttf') format('truetype'), url('woff2/Iosevka-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedmediumoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedmediumoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-mediumitalic.ttf') format('truetype'), url('woff2/Iosevka-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendedmediumitalic.ttf') format('truetype'), url('woff2/Iosevka-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-semibold.ttf') format('truetype'), url('woff2/Iosevka-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extendedsemibold.ttf') format('truetype'), url('woff2/Iosevka-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-semiboldoblique.ttf') format('truetype'), url('woff2/Iosevka-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf/Iosevka-semiboldoblique.ttf') format('truetype'), url('woff2/Iosevka-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-semibolditalic.ttf') format('truetype'), url('woff2/Iosevka-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendedsemibolditalic.ttf') format('truetype'), url('woff2/Iosevka-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-bold.ttf') format('truetype'), url('woff2/Iosevka-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extendedbold.ttf') format('truetype'), url('woff2/Iosevka-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-boldoblique.ttf') format('truetype'), url('woff2/Iosevka-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf/Iosevka-boldoblique.ttf') format('truetype'), url('woff2/Iosevka-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedboldoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedboldoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-bolditalic.ttf') format('truetype'), url('woff2/Iosevka-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendedbolditalic.ttf') format('truetype'), url('woff2/Iosevka-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-extrabold.ttf') format('truetype'), url('woff2/Iosevka-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extendedextrabold.ttf') format('truetype'), url('woff2/Iosevka-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-extraboldoblique.ttf') format('truetype'), url('woff2/Iosevka-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf/Iosevka-extraboldoblique.ttf') format('truetype'), url('woff2/Iosevka-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedextraboldoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedextraboldoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-extrabolditalic.ttf') format('truetype'), url('woff2/Iosevka-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendedextrabolditalic.ttf') format('truetype'), url('woff2/Iosevka-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/Iosevka-heavy.ttf') format('truetype'), url('woff2/Iosevka-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/Iosevka-extendedheavy.ttf') format('truetype'), url('woff2/Iosevka-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/Iosevka-heavyoblique.ttf') format('truetype'), url('woff2/Iosevka-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf/Iosevka-heavyoblique.ttf') format('truetype'), url('woff2/Iosevka-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/Iosevka-extendedheavyoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf/Iosevka-extendedheavyoblique.ttf') format('truetype'), url('woff2/Iosevka-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/Iosevka-heavyitalic.ttf') format('truetype'), url('woff2/Iosevka-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/Iosevka-extendedheavyitalic.ttf') format('truetype'), url('woff2/Iosevka-extendedheavyitalic.woff2') format('woff2');
}
