.landing {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.landing-tab {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 7rem;

    margin-bottom: 1rem;

    gap: 2rem;

    -webkit-transition: height 0.3s;

    transition: height 0.3s;
}

.landing-img {
    -webkit-box-flex: 1;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    background-color: var(--antifa);
}

.landing-img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.landing-quotebox {
    padding: 1rem;

    font-family: Iosevka, monospace;
    color: white;
    font-size: 4rem;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;

    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    /* number of lines to show */
    line-clamp: 7;
    -webkit-box-orient: vertical;
}

.landingquote {
    color: black;
    display: none;
    height: 0;


}

.landing-text {
    max-width: 400px;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    padding-top: 1rem;
    padding-right: 1rem;
    border-top: 1px solid black;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.landing-text > h1 {
    font-size: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.landing-text > p {
    display: none;
    margin: 0;
}

.landing-current {
    height: 20rem;
}

.landing-img{
  height: 100%
}

.landing-quotebox {
  height: 100%;
}

.landing-quotebox > img{
  height: 100%;
  width: auto;
  max-height:5rem;
  object-fit: contain;
  display: inline;
}



.landing-text > .morebutton {
    display: none;
    justify-self: flex-end;
    color: var(--antifa);
}

.landing-text > .morebutton:visited {
    color: var(--antifa);
}

.landing-text > .morebutton > * {
    margin: 0;
}

.landing-current > .landing-text > h1 {
    font-size: 1.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.landing-current > .landing-text > p {


    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.landing-current > .landing-text > .morebutton {
    display: block;
}

.landing-current > .landing-img > .landing-quotebox {
    font-size: 2rem;
}

.landing-current > .landing-img > .landing-quotebox > .landingquote {
    display: block;
    font-size: 2rem;
    margin-top: 0.5rem;


}

@media screen and (max-width: 920px) {
    .landing-img {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
        flex: 1 0 60%;
    }
}

@media screen and (max-width: 720px) {
    .landing-current > .landing-img > .landing-quotebox > .landingquote {
        font-size: 1.5rem;
        line-height: 1;
    }
}

@media screen and (max-width: 720px) {
    .landing {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .landing-current {
        height: auto;
    }

    .landing-img {
        display: none;
    }

    .landing-text {
        max-width: 100%;
        width: 100%;
    }
}
