.map-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-top: 100px;
}

.filterbox-karte {
  float: none;
  flex: 1 1 30%;
  min-width: 200px;
}

#map {
  height: 50rem;
  width: 100%;
}

.map-box {
width: 100%;
flex: 1 1 60%;

}

.leaflet-container{
  height: 50rem;
  border: 1px solid black;
}

.leaflet-popup-content-wrapper {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid black;
}

.leaflet-popup-content {
  font-family: Iosevka, monospace;
}

.leaflet-popup-content> a:first-child{
  display:block;
  margin-bottom: 0.5rem;
}

.leaflet-control-zoom-in{
  font-family: Iosevka, monospace;
}

.map-popup-bottom-wrapper{
  display: flex;
  gap: 0.5rem;
}

.map-list-object {
  max-width:550px;
  margin-top: 2rem;
}

.map-article-link{
  text-decoration: none;
  color: black;
}

.map-place-link {
  text-decoration: none;
  color: black;
}

.map-location-link {
  text-decoration: none;
  color: black;
}

.map-icon {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.map-eventtype-line {
  width: 10rem;
  height: 1px;
  background: var(--arbeit);
}

.map-eventtype-link {
  text-decoration: none;
  height: 31px;
}

.maplist-title{
  margin-top: 2rem;
  font-family: Iosevka, monospace;
  font-size: 2rem;
  font-weight: 300;
  color: black;
}

@media screen and (max-width: 1250px) {
  .filterbox-map {
    border-bottom: 0;
  }
}

@media screen and (max-width: 1100px) {
  .nav-map{
  border-bottom: 0;
  }

  .map-main {
    flex-direction: column;
    margin-top: 3rem;
  }

  .filterbox-map {
    border-bottom: 1px solid black;
    white-space: nowrap;
  }

  .maplist {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .filterbox-map {
    overflow-x: scroll;
  }
}
