.homepage_menu {
    float: left;
    position: sticky;
    top: 57px;

    font-family: Iosevka, monospace;
    text-transform: uppercase;
    color: black;

    z-index: 99;
}

.homepage_menu > ul {
    list-style: none;
    padding: 0;
}

.homepage_menu > ul > li > a {
    color: black;
    text-decoration: none;
}

.homepage_menu > ul > li > a:visited {
    color: black;
    text-decoration: none;
}

.homepage_menu > ul > li > a > h1 {
    margin: 0;
    text-align: right;
    font-size: 1.2rem;
}

@media screen and (min-width: 1250px) {

    .homepage_menu > ul > li > .currentTopic > * {
        font-weight: 800;

    }

    .homepage_menu > ul > li > a > * {
        font-weight: 400;
    }


}


@media screen and (max-width: 1250px) {
    .homepage_menu {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
        border-bottom: 1px solid black;
    }

    .homepage_menu > ul {
        display: flex;
        gap: 1.5rem;
        justify-self: center;
        padding: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

    }
}

@media screen and (max-width:780px) {

    .homepage_menu {
        overflow-x: scroll;
        justify-content: flex-start;

        scrollbar-width: thin;
        scrollbar-color: var(--antifa) white;
    }

    .homepage_menu::-webkit-scrollbar {
        height: 9px;
    }

    .homepage_menu::-webkit-scrollbar-track {
        background: white;
    }

    .homepage_menu::-webkit-scrollbar-thumb {
        background-color: var(--antifa);
        border-radius: 20px;
        border: 3px solid white;
    }

    .homepage_menu > ul {
        display: inline-flex;
        justify-self: left;
        padding-left: 1rem;
    }

    .homepage_menu > ul > l1 {
        display: inline-table;
    }

    .homepage_menu > ul > li > a > h1 {
        white-space: nowrap;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }
}
