html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 350px;
}

#content {
    margin-top: 2rem;
}



.article {
    max-width: 900px;
    margin: auto;
}

.article > * {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
    padding-top: 2rem;

    scroll-margin-top: 73px;
}

.article-image {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
}

.article-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.article-link:visited {
    text-decoration: none;
    color: inherit;
}

.article-link > p {
  color:black;
}

.featured-post > .article-link > img {
    width: 100%;
    height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.post-image {
    width: 100%;
    margin-top: 2rem;

}

.post-image > .article-link > img {
    width: 100%;
    max-height: 20rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.article-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.article-link > h4 {
    margin-top: 0.2rem;
}

.article-link > img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.article-link > img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.article-link > p {
    margin-bottom: 0px;
    text-overflow: ellipsis;
    ;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.articlelist-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
}

.articlelist-image > * {
    max-width: 50%
}

.post-text {
    margin-bottom: 2rem;

}

.post-text > a > h1 {
    font-size: 1.8rem;
    word-break: normal;
    /*text-transform: uppercase;*/


}

.post-reminder {
    padding: 1rem;
    border-style: solid;

    border-width: 1px;

}

.post-reminder > h1 {
    word-break: normal;
}

.reminder-button {

    border: none;
    padding: 0.5rem;
    color: white;
    font-family: Iosevka;
}

.more-topic {
    margin-left: auto;
}

footer {
    width: 100%;
    border-top: 1px solid black;
}

.footer-container {
    max-width: 900px;
    margin: auto;
}

.footer-container > ul {
    list-style: none;
}

.footer-container > ul > li > a {
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 1250px) {
    .landing {
        margin-bottom: 0;
    }

    #content {
        margin-top: 0;
    }

    .article {
        margin: auto;
    }


    .homepage-menu > ul > li > a > h1 {
        font-size: 1rem;

    }
}

@media screen and (max-width: 920px) {
    .article {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .article > * {
        gap: 1rem;
    }

    .articlelist-image {
        gap: 1rem;
    }

    .post-image {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .article > * {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .articlelist-image {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
