html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#content {
    margin-top: 2rem;
}

.article {
    max-width: 900px;
    margin: auto;
}

.article > * {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;

    scroll-margin-top: 73px;
}

.article_image {
    width: 100%;
    flex: 1 1 60%;
}

.article_link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.article_link:visited {
    text-decoration: none;
    color: inherit;
}

.featured_post > .article_link > img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.post_image {
    width: 100%;
    margin-top: 2rem;

}

.post_image > .article_link > img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.article_text {
    flex: 1 1 30%;
}

.article_link > h4 {
    margin-top: 0.2rem;
}

.article_link > img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.article_link > p {
    margin-bottom: 0px;
    text-overflow: ellipsis;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.articlelist_image {
    display: flex;
    gap: 2rem;
}

.post_text {
    margin-bottom: 2rem;

}

.post_text > a > h1 {
    font-weight: 800;
    font-size: 1.8rem;
    word-break: normal;
    text-transform: uppercase;


}

.post_reminder {
    padding: 1rem;
    border-style: solid;

    border-width: 1px;

}

.post_reminder > h1 {
    word-break: normal;
}

.reminder_button {

    border: none;
    padding: 0.5rem;
    color: white;
    font-family: Iosevka;
}

.more_topic {
    margin-left: auto;
}

footer {
    width: 100%;
    border-top: 1px solid black;
}

.footer_container {
    max-width: 900px;
    margin: auto;
}

.footer_container > ul {
    list-style: none;
}

.footer_container > ul > li > a {
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 1250px) {
    .landing {
        margin-bottom: 0;
    }

    #content {
        margin-top: 0;
    }

    .article {
        margin: auto;
    }


    .homepage_menu > ul > li > a > h1 {
        font-size: 1rem;

    }
}
