@import url(iosevka.css);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

h1 {
    font-family: Iosevka, monospace;
    font-weight: 600;
    font-size: 1.5rem;
}

h2 {}

h3 {
    font-family: Manrope, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

nav {
    font-family: Iosevka;
    font-weight: 800;
}

li > a {
    text-decoration: none;
    font-size: 1rem;
}

.headerstart > nav > ul > li > a:visited {
    color: white;
}

.headerswitch > nav > ul > li > a:visited {
    color: black;
}

#landing > div > * {
    color: var(--weiss);
}
