#antifa {
    border-color: var(--antifa);
}

.tagtopic-antifa {
    border-bottom: 1px solid var(--antifa);
}

.tagtopic-antifa > .morebutton {
    color: var(--antifa);
}

.tagtopic-antifa > .morebutton:visited {
    color: var(--antifa);
}

.article-text > .tagtopic-antifa > a > h1 {
    color: var(--antifa);
}


.tagtopic-antifa > a > h4 > span {
    color: var(--antifa);
    text-decoration: none;
    border-bottom: 0px;
}

.tagtopic-antifa > .reminder-button {
    background-color: var(--antifa);
}

#antifa-menu.currentTopic {
    color: var(--antifa);
}

#antifa-menu.currentTopic:visited {
    color: var(--antifa);
}

#nav.bordercolor-antifa {
    border-bottom-color: var(--antifa);
}

@media screen and (max-width: 1250px) {
    #antifa {
        border-top-color: transparent;
    }
}
