#arbeit {
    border-color: var(--arbeit);
}

.tagtopic-arbeit {
    border-bottom: 1px solid var(--arbeit);
}

.tagtopic-arbeit > .morebutton {
    color: var(--arbeit);
}

.tagtopic-arbeit > .morebutton:visited {
    color: var(--arbeit);
}

.article-text > .tagtopic-arbeit > a > h1 {
    color: var(--arbeit);
}

.tagtopic-arbeit > a > h4 > span {
    color: var(--arbeit);
    text-decoration: none;
    border-bottom: 0px;
}

.tagtopic-arbeit > .reminder-button {
    background-color: var(--arbeit);
}

#arbeit-menu.currentTopic {
    color: var(--arbeit);
}

#arbeit-menu.currentTopic:visited {
    color: var(--arbeit);
}

#nav.bordercolor-arbeit {
    border-bottom-color: var(--arbeit);
}

@media screen and (max-width: 1250px) {
    #arbeit {
        border-top-color: transparent;
    }
}
