#militarismus {
    border-color: var(--militarismus);
}

.tagtopic-militarismus {
    border-bottom: 1px solid var(--militarismus);
}

.tagtopic-militarismus > .morebutton {
    color: var(--militarismus);
}

.tagtopic-militarismus > .morebutton:visited {
    color: var(--militarismus);
}

.article-text > .tagtopic-militarismus > a > h1 {
    color: var(--militarismus);
}

.tagtopic-militarismus > a > h4 > span {
    color: var(--militarismus);
    text-decoration: none;
    border-bottom: 0px;
}

.tagtopic-militarismus > .reminder-button {
    background-color: var(--militarismus);
}

#militarismus-menu.currentTopic {
    color: var(--militarismus);
}

#militarismus-menu.currentTopic:visited {
    color: var(--militarismus);
}

#nav.bordercolor-militarismus {
    border-bottom-color: var(--militarismus);
}

@media screen and (max-width: 1250px) {
    #militarismus {
        border-top-color: transparent;
    }
}
