#militarismus > .article_image > .articlelist_image > .column_left > .post_image {
    border-bottom: 1px solid var(--militarismus);
}

#militarismus > .article_image > .articlelist_image > .column_left > .post_image > .morebutton {
    color: var(--militarismus);
}

#militarismus > .article_image > .articlelist_image > .column_left > .post_image > .morbutton:visited {
    color: var(--militarismus);
}

#militarismus > .article_image > .articlelist_image > .column_right > .post_image {
    border-bottom: 1px solid var(--militarismus);
}

#militarismus > .article_image > .articlelist_image > .column_right > .post_image > .morebutton {
    color: var(--militarismus);
}

#militarismus > .article_image > .articlelist_image > .column_right > .post_image > .morebutton:visited {
    color: var(--militarismus);
}

#militarismus > .article_image > .featured_post > .morebutton {
    color: var(--militarismus);
}

#militarismus > .article_image > .featured_post > .morebutton:visited {
    color: var(--militarismus);
}


#militarismus > .article_text > .post_text > .morebutton {
    color: var(--militarismus);
}

#militarismus > .article_text > .post_text > .morebutton:visited {
    color: var(--militarismus);
}

#militarismus > .article_text > .post_text {
    border-bottom: 1px solid var(--militarismus);
}

#militarismus > .article_text > .post_text > a > h1 {
    color: var(--militarismus);
}

#militarismus > .article_text > .post_reminder {
    border-color: var(--militarismus);
    color: var(--militarismus);
}

#militarismus > .article_text > .post_reminder > .reminder_button {
    background-color: var(--militarismus);
}

#militarismus > .more_topic > .morebutton {
    color: var(--militarismus);
}

#militarismus > .more_topic > .morebutton:visited {
    color: var(--militarismus);
}

#militarismus_menu.currentTopic {
    color: var(--militarismus);
}

#militarismus_menu.currentTopic:visited {
    color: var(--militarismus);
}


#nav.bordercolor_militarismus {
    border-bottom-color: var(--militarismus);
}
