#oekologie > .article_image > .articlelist_image > .column_left > .post_image {
    border-bottom: 1px solid var(--oekologie);
}

#oekologie > .article_image > .articlelist_image > .column_left > .post_image > .morebutton {
    color: var(--oekologie);
}

#oekologie > .article_image > .articlelist_image > .column_left > .post_image > .morbutton:visited {
    color: var(--oekologie);
}

#oekologie > .article_image > .articlelist_image > .column_right > .post_image {
    border-bottom: 1px solid var(--oekologie);
}

#oekologie > .article_image > .articlelist_image > .column_right > .post_image > .morebutton {
    color: var(--oekologie);
}

#oekologie > .article_image > .articlelist_image > .column_right > .post_image > .morebutton:visited {
    color: var(--oekologie);
}

#oekologie > .article_image > .featured_post > .morebutton {
    color: var(--oekologie);
}

#oekologie > .article_image > .featured_post > .morebutton:visited {
    color: var(--oekologie);
}


#oekologie > .article_text > .post_text > .morebutton {
    color: var(--oekologie);
}

#oekologie > .article_text > .post_text > .morebutton:visited {
    color: var(--oekologie);
}

#oekologie > .article_text > .post_text {
    border-bottom: 1px solid var(--oekologie);
}

#oekologie > .article_text > .post_text > a > h1 {
    color: var(--oekologie);
}

#oekologie > .article_text > .post_reminder {
    border-color: var(--oekologie);
    color: var(--oekologie);
}

#oekologie > .article_text > .post_reminder > .reminder_button {
    background-color: var(--oekologie);
}

#oekologie > .more_topic > .morebutton {
    color: var(--oekologie);
}

#oekologie > .more_topic > .morebutton:visited {
    color: var(--oekologie);
}

#oekologie_menu.currentTopic {
    color: var(--oekologie);
}

#oekologie_menu.currentTopic:visited {
    color: var(--oekologie);
}

#nav.bordercolor_oekologie {
    border-bottom-color: var(--oekologie);
}
