body {
    margin: 0px;
}

#landing {
    width: 100%;
    height: 55rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    /* Landingimage */
    /* https://cssgradient.io/ */
    background-image: linear-gradient(0deg, rgba(2, 0, 36, 0.8715861344537815) 0%, rgba(0, 0, 0, 0.6166841736694677) 28%, rgba(0, 0, 0, 0) 45%), url(../images/landingimage.png);
    background-size: cover;
    background-position: center;
    background-color: var(--schwarz);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.landing_text {
    color: white;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2rem;
}

.landing_title {
    flex: 1 1 30%;
    word-break: normal;
}

.landing_text > p {
    flex: 1 1 60%
}

#content {
    margin-top: 2rem;
}

.homepage_menu {
    float: left;
    position: sticky;
    top: 72px;

    font-family: Iosevka, monospace;
    text-transform: uppercase;
    color: black;
}

.homepage_menu > ul {
    list-style: none;
}

.homepage_menu > ul > li > a {
    color: black;
    text-decoration: none;
}

.homepage_menu > ul > li > a:visited {
    color: black;
    text-decoration: none;
}

.homepage_menu > ul > li > a > h1 {
    margin: 0px;
}

.article {
    max-width: 900px;
    margin: auto;
}

.article > * {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.article_image {
    width: 100%;
    flex: 1 1 60%;
}

.article_link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.article_link:visited {
    text-decoration: none;
    color: inherit;
}

.featured_post > .article_link > img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.post_image {
    width: 100%;
}

.post_image > .article_link > img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.article_text {
    flex: 1 1 30%;
}

.article_link > h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.article_link > p {
    max-height: 10rem;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.morebutton {
    color: var(--antifa);
}

.morbutton:visited {
    color: var(--antifa);
}

.articlelist_image {
    display: flex;
    gap: 2rem;
}

.post_text > a > h1 {
    font-weight: 800;
    font-size: 1.8rem;
    word-break: normal;
    text-transform: uppercase;

    color: var(--antifa);
}

.post_reminder {
    padding: 1rem;
    border-style: solid;
    border-color: var(--antifa);
    border-width: 1px;
    color: var(--antifa);
}

.post_reminder > h1 {
    word-break: normal;
}

.reminder_button {
    background-color: var(--antifa);
    border: none;
    padding: 0.5rem;
    color: white;
    font-family: Iosevka;
}


@media screen and (max-width: 1400px) {
    .article {
        margin-right: 5rem;
    }

    .homepage_menu > ul > li > a > h1 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    #content {
        margin-top: 0rem;
    }

    .article {
        margin: auto;
    }

    .homepage_menu {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
        border-bottom: 2px solid black;
    }

    .homepage_menu > ul {
        display: flex;
        gap: 1.5rem;
        justify-self: center;
        padding: 0rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

    }
}

.homepage_menu > ul > li > a > h1 {
    font-size: 1.2rem;
}
}
